@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html{
    background-color: powderblue;
}
body {
    background-color: paleturquoise;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: "Poppins";
    display: block;
    justify-content: inline;
}

nav{
    color: seagreen;
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    justify-content: space-evenly;
    
    
}

h1{
    color: darkcyan;
    font: bolder;
    font-size: 48px;
    font-family: "Arial Black";
    background-color: powderblue;
}

h2{
    color: rgb(74, 192, 133);
    font: bold;
    font-size: 40px;
}

nav > ul{
    list-style-type: none;
    float:inline-start;
    margin: auto;
    display: inline;
}

a:visited{
    color: rgb(74, 192, 133);

}
a:hover{
    background-color: paleturquoise;
}



