body {
    background-color: paleturquoise;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: Helvetica;
}

nav{
    color: seagreen;
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 32px;
    
    
}

h1{
    color: darkcyan;
    font: bolder;
    font-size: 48px;
    font-family: "Arial Black";
}

h2{
    color: rgb(74, 192, 133);
    font: bold;
    font-size: 40px;
}

nav > ul{
    list-style-type: none;
    float:inline-start;
    margin: auto;
}



