@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html{
    background-color: powderblue;
}
body {
    background-color: paleturquoise;
    width: 95%;
    margin: 2.5%;
    font-size: 24px;
    font-family: "Poppins";
    display: block;
    justify-items: center;
    
}

nav{
    color: seagreen;
    /* background-color: powderblue; */
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 32px;
    justify-content: space-evenly;
    display:inline-flex;
    width: 100%;
    /* margin-right: 10%; */
    /* margin-left:10%; */
    /* float:inline-start; */
    /* display: inline-flex; */
  
}

header{
    color: darkcyan;
    font: bolder;
    font-size: 48px;
    font-family: "Arial Black";
    /* background-color: powderblue; */
    display: inline;
    justify-self: normal;
    justify-items: center;
    text-align: center;
    /* text-align: center; */
    /* width: 20%; */
    /* display: inline-flex; */
}

h1{
    text-align: center;
}

h2{
    color: rgb(74, 192, 133);
    font: bold;
    font-size: 40px;
}

nav > p{
    list-style-type: none;
    /* float:inline-start; */
    margin: auto;
    /* display: inline; */
    /* padding-left: 20%;
    padding-right: 20%; */
    /* background-color: powderblue; */

}

a:visited{
    color: rgb(74, 192, 133);

}
a:hover{
    background-color: powderblue;
}

section{
    /* float:left; */
    /* margin: 5%; */
    color:rgb(0, 99, 99);
    /* width: 40%; */
    width: 40%;
    text-align: center;
    display:block;

    
}
div{
    justify-self: center;
    /* justify-items:; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;

}

footer{
    font-size: 12px;
    /* justify-items:; */
    display:inline;
    text-align: center;
}


