html {
    background-color: rgb(60, 60, 60);
    font-family: 'Courier New', Courier, monospace;
}

header{
    font-weight: bold;
    color:rgb(104, 207, 0);

}
section {
    color: rgb(153, 153, 153);
}
