html {
    background-color: rgb(60, 60, 60);
    font-family: 'Courier New', Courier, monospace;
}

header{
    font-weight: bold;
    color:rgb(218, 24, 24);

h1{
    color: rgb(104, 207, 0);
    font-weight: bold;

}

h2 {
    font-weight: bold;
    color:rgb(218, 24, 24);
}

}
section {
    color: rgb(199, 199, 199);
}
